@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

/* Prevent layout shift from scrollbar appearance */
html {
    scrollbar-gutter: stable;
}

:root {
    --color-fd-background: #f2f0e3;
    --color-fd-foreground: #2e2e2e;
    --color-fd-primary: #6366f1;
    --color-fd-accent: #e6e4d7;
    --color-fd-accent-foreground: #2e2e2e;
    --color-fd-card: #f7f6ee;
    --color-fd-card-foreground: #2e2e2e;
    --color-fd-muted: #2e2e2e0b;
    --color-fd-muted-foreground: #2e2e2ec5;
    --color-fd-secondary: #e6e4d7;
    --color-fd-secondary-foreground: #2e2e2e;
    --color-fd-popover: #f2f0e3;
    --color-fd-popover-foreground: #2e2e2e;
    --color-fd-border: #eae9e2;
}

.dark {
    --color-fd-background: #1f1f1f;
    --color-fd-foreground: #d1cfc0;
    --color-fd-primary: #6366f1;
    --color-fd-accent: #363636;
    --color-fd-accent-foreground: #d1cfc0;
    --color-fd-card: #161616;
    --color-fd-card-foreground: #d1cfc0;
    --color-fd-muted: #d1cfc00b;
    --color-fd-muted-foreground: #d1cfc0c5;
    --color-fd-secondary: #363636;
    --color-fd-secondary-foreground: #2e2e2e;
    --color-fd-popover: #1f1f1f;
    --color-fd-popover-foreground: #d1cfc0;
    --color-fd-border: #2e2e2e;
}

aside {
    background-color: var(--color-fd-background) !important;
}

aside a[data-active="true"] {
    color: var(--color-fd-foreground) !important;
    background-color: var(--color-fd-accent) !important;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-size: 14px;
}

g.main:has(> g.plot) > rect {
    display: none;
}

video {
    border-radius: 40px;
}
